
/* Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&display=swap');


body{
    font-family: 'poppins', sans-serif;
}
main{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.container{
    display: flex;
    background-image: linear-gradient(to right,#2B0948,#530166, #7E2FA5);
    /* background: linear-gradient(185.66deg, rgb(28, 1, 17) 5.13%, rgb(63, 7, 29) 49.3%, rgb(93, 13, 40) 87.75%, rgb(138, 21, 56) 145.92%); */
    width: 1321px;
    height: 646px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
   
    
}
.text_section{
    color: white;
    width: 40%;
    padding-left: 106px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.text_section h1{
    font-size: 70px;
    font-weight: 700px;
    line-height: 80px;
    margin-bottom: 0px;
    margin-top: 100px;background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: sliding 1s ease-in-out 0.1s infinite alternate ;
    animation-play-state: running;
}
    @keyframes  sliding {
        to
        {
            background-position: 200% center;
        }
    
    }


.text_section p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    
}
.img_part{
    width: 48%;
}

.img_part img{
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    border-radius: 10px;
    
}
.watch_btn{
    font-size: 25px;
    font-weight: 400px;
    color: rgb(232, 18, 18);
    border-radius: 20px;
    border-color:white;
    
    padding: 10px 15px;
    background-color: Transparent;
    align-items: center;
    margin-bottom: 111px;
    cursor: pointer;
   
}
.watch_btn:hover{
    color: #E8E8E8;
    background-color: red;
}
/* Match section started */
.match-section{
    display: flex;
}

.matches{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: right;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    width: 70%;
  
}
.blog-section{
    width: 30%;
}
.blogs{
    height: 312px;
    width: 312px;
    background: linear-gradient(185.66deg, rgb(28, 1, 17) 5.13%, rgb(63, 7, 29) 49.3%, rgb(93, 13, 40) 87.75%, rgb(138, 21, 56) 145.92%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1 ,  1fr);
   flex-direction: column;
   align-items: center;
   justify-items: center;
   align-content: space-evenly;
   margin-right: 20px;
   

}
.blogs a{
    text-decoration: none;
}
.blogs button{
    display: flex;
    background-color: white;
    color: black;
    height: 64px;
    width: 252px;
    border-radius: 10px;
    border: 0px;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
.blogs .blog_btn{
    background-color: red;
    color: white;
}
.match{
    background: #E8E8E8;
    Width:312px;
    Height:362px;
    border-radius: 10px; 
    height: 350px;
    width: 312px;  
}
.matchinfo{
    padding-left: 20px; 
}
.match .icon{
    width: 143px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    column-gap: 5px;
   
}
.view button{
  
    visibility: hidden;
       
    background-color: red;
    color: #E8E8E8;
    height: 64px;
    width: 252px;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 45%;
          
}
/* Footer section Started */
.footer {
    background: linear-gradient(to right, rgb(28, 1, 17) 5.13%, rgb(63, 7, 29) 49.3%, rgb(93, 13, 40) 87.75%, rgb(138, 21, 56) 145.92%);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.footer hr{
    border: 1px 0px solid white;
    opacity: 20%;
    width: 1320px;
    
    
}
.footer-details{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    column-gap: 8px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    
}
.footer-details a{
    text-decoration: none;
    color: white;
    font-size: 16px;;
    
}
.social{
  margin-top: 40px;
  
}
.social a{
    text-decoration: none;
}
.social i{
    color: rgb(218, 217, 217);
}
/*------------------------------------------ 
                Media Query 
-------------------------------------------*/
/* Display for Mobile Device */

@media only screen and  (max-width:688px){
    
    .container{
        max-width: 100%;
         background-image: url(images/banner1.jpg);
        
        background-repeat: no-repeat; 
        
        margin-bottom: 0%; 
        padding-bottom: 0%;  
        margin-left:1%;
        margin-right: 3%;
        display: flex;
        flex-direction: column;
  
    }
    .img_part img{
        display: none;
    }
    
    .text_section{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
        text-align: left;
        justify-items: left;
        width: 80%;
        height: 100%;
        padding-left:2px;
         margin-left: 2px;
         margin-top: 5%;
         margin-bottom: 5%;
         padding-bottom: 50px;


    }
    .text_section h1{
        color:white;
        font-size: 50px;
        font-weight: 700px;
        line-height: 50px;
        
    }
    .watch_btn{
        font-size: 15px;
        font-weight: 400px;
        color: rgb(232, 18, 18);
        border-radius: 215px;
        border-color:white;
        
        padding: 5px 10px;
        background-color: Transparent;
        align-items: center;
        cursor: pointer;
    
        
    }
    /* Match Section started */
    .blog-section{
        max-width: 100%;
        margin-top: 0%;
        margin-bottom: 10%;
         margin-left: 1%;
        /* margin-right: 4%; */
        justify-content: center;
      
        

    }
    
    .match-section{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        margin-bottom: 0%;
        margin-top: 0%;
        justify-content: center;
        margin-left: 2%;
        margin-right: 2%;
    
       }
    .matches{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
         margin-left: 14%;
        /* margin-right: 5%; */
        justify-content: center;

        
    }
    .view button{
        visibility: hidden;
       }

    /* ----------------------    
    Footer section started 
    -----------------------*/
    .footer{
        width: 100%;
        margin-top:3%;
        padding-bottom: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 2%;
        padding-left: 0%;
    }
    .footer hr{
        margin-top:0%;
        margin-bottom: 1%;
    }
    .footer h1{
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .footer-details{
        display: grid;
        grid-template-columns: repeat(1, 1fr);  
        margin-top: 2%; 
    }
    .social{
        margin-top: 5%;
        color: white;
        margin-bottom: 2%;
    }
    
}
/*---------------------------- 
Tablet device only 
-----------------------------*/
@media screen and (min-width:689px) and (max-width:992px) {
    .container{
        width: 100%;
        margin-bottom: 3%;
    }
    .text_section{
        width: 48%;
        
        padding-left: 5px;
    }
   .blog-section{
    width: 100%;
    display: inline;
    padding-right: ;
    
    height: 100%;
   }
   .blogs{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    height: 80px;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 0%;
    
    margin-right: 50%;
    justify-content: center;
    align-items: center;

   }
   .blogs button{
    display: flex;
    background-color: white;
    color: black;
    height: 60px;
    width: 200px;
    border-radius: 5px;
    column-gap: 5px;
    border: 0px;
    justify-content: center;
    align-items: center;
    font-size: 16px;

  }
   .match-section{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    margin-bottom: 2%;

    justify-content: center;
    align-items: center;
   }
   .matches{
   

        /* margin-right: 5%; */
        justify-content: center;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
     padding-left: 20px;
    justify-content: center; 
    align-items: center;
    margin-left:5%;
    margin-right: 3%;


    
   }
   .match-section .matches{
    margin-left:12%;

   }
   .match-section .blog-section{
    margin-left: 0%;
   }
   .view button{
    visibility: visible;
    height: 44px;
    width: 200px;
    border-radius: 10px;
    border: 0px;
    font-size: 16px;
    margin-left: 3%;
      
   }
   .view{
    visibility: visible;
    justify-content: flex-start;
    padding-left: 0%;
    margin-left: 2%;
   }
   .footer{
    width: 100%;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
   }
   .footer-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    row-gap: 5px;
    margin-top: 2%; 
    justify-content: left;
    margin-left: 0%;
}
  .social{
    margin-top: 5%;
  }

}

